.form > * {
  margin: 1rem 0;
}

.group-input {
  font-weight: 500;
  font-size: 2rem;
  color: var(--primary-color);
}

.groups {
  font-size: 1.3rem;
  width: 100%;
  border-color: var(--primary-color);
  background-color: white;
  padding: 1rem 0.3rem;
  color: var(--primary-color);
}
